@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<div class="container emp-profile mx-auto">
    <h1>Conta criada!</h1>

    <hr />

    <br />


    <a class="d-block text-center mt-2 font-weight-bold" asp-area="Identity" asp-page="/Account/Login">Faça Login aqui!</a>
</div>

