@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}



<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image dentro do CSS! -->
                </div>
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5 fw-light fs-5">Registrar</h3>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <!--
                        <div class="form-group mb-3">
                            <label for="floatingInputUsername">Nome</label>
                            <input type="text" class="form-control" id="floatingInputUsername" placeholder="Nome" required autofocus>
                        </div>
                        -->
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="Input.Email" for="floatingInputEmail">Email</label>
                            <input asp-for="Input.Email" type="email" class="form-control" id="floatingInputEmail" placeholder="nome@exemplo.com">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <hr>

                        <div class="form-group mb-3">
                            <label asp-for="Input.Password" for="floatingPassword">Senha</label>
                            <input asp-for="Input.Password" type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Input.ConfirmPassword" for="floatingPasswordConfirm">Confirmar Senha</label>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirmar Senha">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-login btn-block fw-bold text-uppercase" type="submit">Registrar</button>
                        </div>

                        <a class="d-block text-center mt-2 small" asp-area="Identity" asp-page="/Account/Login">Tem uma conta? <b>Faça Login.</b></a>

                        <hr class="my-4">

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-google btn-block btn-login fw-bold text-uppercase" type="button">
                                <i class="fab fa-google me-2"></i> Em breve!
                            </button>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-lg btn-facebook btn-block btn-login fw-bold text-uppercase" type="button">
                                <i class="fab fa-facebook-f me-2"></i> Em breve!
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>

    </div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
